DirectoryIndex index.html

RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteCond %{ENV:HTTPS} !=on

RewriteRule .* https://%{SERVER_NAME}%{REQUEST_URI} [R=301,L]
RewriteCond %{HTTP_HOST} !=cosmofox.net
RewriteRule (.*) http://cosmofox.net/$1 [R=301,L]

Redirect 301 /howtos/umurmur-auf-uberspace https://how.cosmofox.net/umurmur-auf-Uberspace/
Redirect 301 /howtos/ejabberd-auf-uberspace https://how.cosmofox.net/ejabberd-auf-Uberspace/
Redirect 301 /AP https://how.cosmofox.net/using-open-WiFi/
Redirect 301 /ap https://how.cosmofox.net/using-open-WiFi/
Redirect 301 /gen2 https://nyx.cosmofox.net/

#Prevent viewing of .htaccess file
<Files .htaccess>
order allow,deny
deny from all
</Files>

#Prevent directory listings
Options All -Indexes
