DirectoryIndex index.html

RewriteEngine On

RewriteCond %{HTTPS} !=on
RewriteCond %{ENV:HTTPS} !=on
RewriteRule .* https://%{SERVER_NAME}%{REQUEST_URI} [R=301,L]

RewriteCond %{HTTP_HOST} !=plaintext.blog
RewriteRule (.*) https://plaintext.blog/$1 [R=301,L]

Redirect 301 /umurmur-auf-Uberspace/ /hosting/Uberspace/umurmur.html
Redirect 301 /howtos/umurmur-auf-uberspace /hosting/Uberspace/umurmur.html
Redirect 301 /howtos/ejabberd-auf-uberspace /hosting/Uberspace/ejabberd.html
#Redirect 301 /AP https://how.cosmofox.net/using-open-WiFi/
#Redirect 301 /ap https://how.cosmofox.net/using-open-WiFi/
Redirect 301 /gen2 https://gentoo.cosmofox.net/
Redirect 301 /TS /noise/freeTS.html
Redirect 301 /ts /noise/freeTS.html
Redirect 301 /links /like/alot.html
Redirect 301 /dontlike /like/not.html
Redirect 301 /hosting/mail/qmail-dovecot-roundcube.html /hosting/mail/qmail.html

ErrorDocument 403 /about/
ErrorDocument 404 /about/

#Prevent viewing of .htaccess file
<Files .htaccess>
order allow,deny
deny from all
</Files>

#Prevent directory listings
Options SymLinksIfOwnerMatch -Indexes

AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css image/svg+xml

<IfModule mod_expires.c>
ExpiresActive on
ExpiresDefault "access plus 1 weeks"
# CSS
ExpiresByType text/css "access plus 1 weeks"
# HTML
ExpiresByType text/html "access plus 0 seconds"
# JavaScript
ExpiresByType application/javascript "access plus 1 weeks"
</IfModule>
